/* Browser Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: verdana, arial, sans-serif;
}

body {
  background: #4e4e94;
}

section {
  position: relative;
  border-bottom: medium solid purple;
}

/*Styling for the title and intro*/
.title {
  font-size: 5vw;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

.jacaranda--intro {
  position: absolute;
  padding-left: 9%;
  bottom: 9%;
}

.jacaranda--intro p {
  padding: 10px 0;
  text-align: center;
  color: #F0E0F3;
  text-shadow: 1px 3px 3px black;
}

.jacaranda--img {
width: 100%;
}

/*Styling for the rest of the images in general*/
.imgs--jacaranda {
  width: 50vw;
}

.float--right {
  float: right;
}

/*Makes the sections that are on the right of the correct size*/
.section--overflow {
  overflow: hidden;
}

/*Styling for the text in general*/
.description--text {
  color: #D0B4D5;
  font-size: 1.5vw;
  text-shadow: 1px 3px 3px black;
}

.larger--text {
  font-size: 2vw;
}

/*Individual styling for the text and images*/
.jacaranda--flower--text {
  position: absolute;
  max-width: 500px;
  left: 56%;
  bottom: 30%;
  }

.jacaranda--flower--text p {
  padding: 10px 0;
  text-align: center;
}


.jacaranda--tree--text {
  position: absolute;
  max-width: 50%;
  bottom: 40%;
}

.jacaranda--tree--text p {
  padding: 30px 0;
  text-align: center;
}

.purple--panic--description {
  position: absolute;
  max-width: 500px;
  left: 56%;
  bottom: 30%;
}

.purple--panic--description p {
  padding: 40px 0;
  text-align: center;
}

.caveats--description {
  position: absolute;
  max-width: 50%;
  top: 20%;
}

.caveats--description p {
  padding: 30px 0;
  text-align: center;
}

/*caption position*/
.caption {
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  font-size: 1vw;
}

.caption--left {
  bottom: 5px;
}

.caption--right {
bottom: 5px;
right: 10px;
}
